.navLink {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 3px 15px 3px;
  /* padding-left: 15px; */
  margin: 3px;
  margin-right: 50%;
  border-radius: 4px;
  text-decoration:none;
  color:rgb(28, 28, 196) ;
  background-color: rgb(253, 205, 133);
font-weight: 500;

}

/* & .active {
background-color: rgb(221, 0, 0);
color: chartreuse;
} */

:hover:not(.navLink),
:focus-visible:not(.navLink) 
{
  color: rgb(255, 72, 0);
background-color: rgb(255, 255, 255);
font-weight: 800;

}

.ratingList {
  color: black;
  padding: 15px;

}

.hederLink {
  padding: 3px 30px 3px;
  margin: 8px;
  border-radius: 4px;
  text-decoration:dotted;
  color:rgb(28, 28, 196) ;
  background-color: rgb(253, 205, 133);
 font-weight: 700;
}

:hover:not(.hederLink),
:focus-visible:not(.hederLink) 
{
  color: rgb(255, 72, 0);
background-color: rgb(255, 255, 255);
font-weight: 700;
}


